.transactionHistory {
  margin: 0 auto 80px;
}

table {
  border: 1px solid black;
}

th {
  width: 250px;
  color: white;
  background-color: black;
}

th:first-child(odd) {
  border-color: #05050552;
}

tr:nth-child(even) {
  background-color: #05050528;
}

tr,
td {
  outline: 1px solid black;
}

td {
  text-transform: capitalize;
}
